<header>
  <h1 class="site-title"><a href="/madweightlossllc/">{{ site.name }}</a></h1>
        <p> Lose Weight & Feel Great!</p>
  <nav class="main-nav">
    <div class="grid">
      <ul>
        <li><a href="/madweightlossllc/">Home</a></li>
        {% if site.gituser %}
        <li><a href="/madweightlossllc/services.html">Services</a></li>
        <li><a href="/madweightlossllc/forms.html">Forms</a></li>
        <li><a href="/madweightlossllc/about.html">About</a></li>
        <li><a href="/madweightlossllc/contact.html">Contact Us</a></li>
        <li><a href="http://blog.themaddiet.com" target="_blank">Blog</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</header>